body {
    background: #ffffff;
    color: #000000;
    font-family: sans-serif;
    padding: 16px;
}

.window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.window canvas {
    border: 1px solid #505050;
    background: #808080;
    image-rendering: pixelated;
    cursor: none;
}
.viewport {
    position: absolute;
    transform: translate(0%, 0%);
}
#canvaswrapper {
    position: relative;
    width: 512px;
    height: 512px;
}
#canvaswrapper canvas{
    position: absolute;
    left: 0;
    top: 0;
    image-rendering: pixelated;
}

#left_sticky_section {
    position: fixed;
}
#left_sticky_section #toptoolbar {
    position: fixed;
    left: 10px;
    top: 6%;
    transform: translateY(-50%);
    display: flex;
    gap: 4px;
    align-items: center;
    flex-direction: column;
}
#left_sticky_section #lefttoolbar {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 4px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#left_sticky_section .color {
    display: flex;
    align-items: center;
    gap: 4px;
}
#left_sticky_section #colorPicker {
    position: fixed;
    left: 20px;
    top: 85%;
    display: flex;
    flex-direction: column; 
    gap: 2px;
}
.color-slider {
    width: 100px;
	height: 20px;
    border: 1px solid #505050;
}
#right_sticky_section {
    position: fixed;
}
#right_sticky_section #righttoolbar {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 4px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.button {
    box-sizing: border-box;
    height: 48px;
    width: 48px;
    border: 1px solid #000000;
    display: inline-block;
    padding: 0px;
    cursor: pointer;
    font-family: Arial, FontAwesome;
    font-size: 18px;
    color: #000000;
}